$body-color: #000;
$stats-bar-height: 1.8rem;
$menu-bar-height: 3.6rem;
$side-padding: 0.8rem;
$header-height: $stats-bar-height + $menu-bar-height;

@import "tinyfade";

html {
  font-size: 14px;

  ::selection {
    background-color: #fff;
    color: #0044ff;
  }
}


@media screen and (min-width: 1000px) {
  html {
    font-size: 18px;
  }
}

body {
  color: $body-color;
  font-family: "Times New Roman", serif;
  padding: calc(80vh + 2rem) $side-padding 5rem $side-padding;
  @media (min-width: 800px) {
    padding: 6rem 1rem 5rem calc(100vw - 29rem);
  }
}

body.esm {
  background-color: $body-color;
  color: #fff;

  ::selection {
    background-color: #000;
    color: #0044ff;
  }

  & .button {
    color: #000;
    border: solid 1px #fff;
    background-color: #fff;

    @media (min-width: 800px) {
      background-color: #000 !important;
      color: #fff;

      &:hover {
        color: #000 !important;
        background-color: #fff !important;
      }
    }
  
      &:hover {
      color: #000;
      border: solid 1px #000;
      background-color: #fff;
    }
  }

  & a{
    color: #f00;
    &:hover{
      /*color: #fff !important;*/
    }
  }

   & .gallery-arrow{
    color: #f00 !important;
 }

  & figcaption{
    background: #000 !important;
    border-color: #fff !important;
    color: #fff !important;
  }

  & figure.gallery{
    border-color: #fff;
  }

  & #esm-button{
   background-color: #f00 !important;
   border-color: #f00;
  }

  & .menu-bar{
    border-bottom: 1px solid #fff;
    background-color: #000 !important;

    & #site-id{
      color: #fff;
    }

  }

  & .stats{
    background-color: #f00;
    color: #000;

    & a{
      color: #fff;
    }
  }

  & #toc a{
    color: #fff;
  }
}

#esm-button{
  font-family: Arial, sans-serif;
}

.pleasure-text {
  font-style: italic;
  text-align: right;
  padding-left: 5%;
}

.text {
  font-style: normal;
  text-align: left;
  padding-right: 20%;
}

main {
  line-height: 165%;
  cursor: ns-resize;
}

.quote{
  font-size: 60%;
  vertical-align: bottom;
  position: relative;
  top:.2rem;
  /*color: #f00;*/
  margin-right: 1.5rem;
}

.captionquote{
  /*font-size: 60%;
  vertical-align: bottom;
*/
  color: #0044ff;
  }

p,
h1 {
  padding-bottom: .5rem;
  letter-spacing: 0.02rem;
}

.bibliography{
  font-size: 14px;
  line-height: 135%;

  & p{
    margin: 0rem;
    padding-bottom: .8rem;
    padding-left: 2.4rem;
    text-indent: -2.4rem;
  }
}

a {
  cursor: cell;
}

h1 {
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 120%;

  @media (min-width: 800px) {
    font-size: 1.4rem;
  }
}

#toc{
list-style-type:none;
line-height: 175%;
font-size: 1rem;
padding-left: 0;

  & li a{
    color: #000;
    text-decoration: underline
  }
  

  & li:nth-child(1){
    font-size: 1rem;
    padding: 0 0 1.2rem 0rem;
      & a{
        text-decoration: none;
      }
  }

  & li:nth-child(2),li:nth-child(27),li:nth-child(28),li:nth-child(29){
    font-size: 1rem;
    padding: 0rem 0 0 0rem;  
    & a{
      text-decoration: none;
    }
  }

  & li:nth-child(3),li:nth-child(18),li:nth-child(21),li:nth-child(26){
    font-size: 1rem;
    padding: 1.2rem 0 0 0rem;
  }

    & li:nth-child(4),li:nth-child(8),li:nth-child(13),li:nth-child(15),li:nth-child(19),li:nth-child(20),li:nth-child(22),li:nth-child(23),li:nth-child(24),li:nth-child(25){
    padding: 0.4rem 0 0 1.2rem;
  }

  & li:nth-child(5),li:nth-child(6),li:nth-child(7),li:nth-child(9),li:nth-child(10),li:nth-child(11),li:nth-child(12),li:nth-child(14),li:nth-child(16),li:nth-child(17){
    padding: 0 0 0 4rem;
  }
}

/*.toc-button{
  background-color: #000 !important;
  color: #fff !important;

  &:hover{
    background-color: #fff !important;
    color: #000 !important;
  }
}*/

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  border-bottom: 1px solid #000;
  // background-color: #fff;
  @media (min-width: 800px) {
    position: fixed;
  }
}

header .menu-bar {
  height: $menu-bar-height;
  padding: 0 $side-padding;
  display: flex;
  justify-content: space-between;
  background-color: #fff;

  @media (min-width: 800px) {
    width: calc(100vw-2*#{$side-padding});
  }

  h1 {
    margin: 0;
    line-height: $menu-bar-height;
  }

  a {
    color: $body-color;
    text-decoration: none;
  }

  .button{
    color: #fff;
    background-color: #f00;
    border-color: #fff;
    float: right; 
    text-align: right;
    margin-right: 0;

    &:hover{
      color: #f00;
      background-color: #fff !important;
      border-color: #f00;
    }
  }
}

.button {
  margin-top: 0.1rem;
  letter-spacing: 0.04rem;
  font-family: "Times New Roman", serif;
  text-transform: lowercase;
  font-size: 0.8rem;
  font-weight: normal;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: none;
  text-decoration: none;
  padding: 0.3rem 0.4rem;
  margin: auto 0;
  cursor: cell;
  user-select: none;

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

header .stats {
  height: $stats-bar-height;
  background-color: #f00;
  color: #000;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  padding: 0 $side-padding;
  line-height: $stats-bar-height;
  text-align: right;
  font-size: 0.6rem;
  display: flex;
  justify-content: space-between;

  @media (min-width: 800px) {
  font-size: 0.8rem;
  }


  dl,
  dd,
  dt, span {
    margin: 0;
    padding-right: 0.2rem;
    display: inline;

  @media (min-width: 800px) {
    padding-right: .6rem;
  }

  }


  dt[role="img"] {
    margin-right: -0.2rem;
    margin-left: 0.4rem;
  }

  a{
    color: #fff;
  }
}

.explanation {
  position: absolute;
  height: auto;
  width: 84vw;
  text-align: left;
  margin: auto;
  /*top: 22vh;*/
  right: 0;
  left: 0;
  background: #000;
  border: solid 1px #fff;
  color: #fff;
  font-family: "Times New Roman", serif;
  font-weight: normal;
  letter-spacing: 0.02rem;
  z-index: 999;
  top: $menu-bar-height;  
  padding: 4% 4% 8% 4%;


  @media (min-width: 800px) {  
    padding: 2rem 2.5rem 3.5rem 2.5rem;
    width: 44vw;
  }


  ::selection {
    background-color: #000;
    color: #0044ff;
  }

  & h1{
  font-family: "Times New Roman", serif;
  font-size: 1.4rem;
  margin: 0;
  padding-bottom: 0;
  }

  & p{
  font-size: 1rem;
  width: 100%;
  @media (min-width: 800px) {padding-bottom: .5rem;}
  }

  & a{
    color: #0044ff !important;
      &:hover{
        color: #fff !important;
      }
  }

  & a.button{
    color: #000 !important;
   @media (min-width: 800px) {color:  #fff !important;}
    
    &:hover{
      color: #000 !important;
    }
  }

  & .button{
    position: absolute;
    left: 4%;
    right: 4%;
    bottom: 2.2rem;
    background-color: #fff !important;
    border: solid 1px #fff;
    font-size: 1rem;
    height: 2rem;
    @media (min-width: 800px) {
      height: initial; 
      background-color: #000 !important;
      left: initial;
      right: initial;

      &:hover {
        color: #000 !important;
        background-color: #fff !important;
      }
    }
  }
}

figure.gallery {
  margin: 0;
  padding: 0;
  height: 80vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: $header-height;
  box-sizing: border-box;
  border-right: 1px solid #000;
  z-index: 1;

  .tinyfade > * {
    pointer-events: none;

    img {
      height: calc(80vh - #{$header-height});
      object-fit: cover;
      width: 100%;

      @media (min-width: 800px) {
        height: calc(100vh - #{$header-height});
      }
    }
  }

  @media (min-width: 800px) {
    position: fixed;
    bottom: 0;
    right: auto;
    height: 100vh;
    width: calc(100% - 30rem);
  }

  figcaption {
    position: absolute;
    z-index: 4;
    bottom: 0;
    height: 4.4rem;
    background-color: #ffffff;
    color: #000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 $side-padding;
    box-sizing: border-box;
    font-size: 0.8rem;
    line-height: 130%;
    border-top: 1px solid #000;
  
    & #caption-text{
      width: 92%;
    }

    & #caption-size{
      color: #f00;
    }

    & a{
      color: #0044ff;
    }
  }
}

.gallery-arrow {
  color: #fff;
  -webkit-text-stroke: 1px #000;
  font-size: 2.8rem;
  position: absolute;
  top: 50%;
  z-index: 4;
  border-radius: 2rem;
  background: none;
  width: 4rem;
  height: 2rem;
  line-height: 2.5rem;
  text-align: center;
  cursor: cell;
  user-select: none;

  &.left {
    left: $side-padding;
    margin-top: 0.3rem;
    transform: rotate(180deg) !important;
  }

  &.right {
    right: $side-padding;
  }
}

main footer {
  display: flex;
  justify-content: space-between;

  margin-top: 4rem;
}
